@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');

* {
    margin: 0;
    color: white;
    box-sizing: border-box;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 5fr 5fr 5fr 1fr;
}

h1 {
    font-family: 'Mountains of Christmas', serif;
    font-weight: bold 700;
}

h2 {
    font-family: 'EB Garamond', serif;
    font-weight: 500;
}

h3 { 
    font-family: 'Lora', serif;
    font-weight: 400;
}


/* Header */


header { 
    background-color: #bf3b3b;
}

.logo img {
    display: block;
    padding: 10px;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* Navigation Bar */


nav {
    background-color: #bf3b3b;
    font-size: 35px;
}

.menubar {
    list-style-type: none;
}

.menubar li {
    float: none;
    display: block;
    width: 100%;
    text-align: center; 
    padding-bottom: 10px;
}

.menubar li a {
    text-decoration: none;
    cursor: pointer;

}

.menubar a:hover {
    color: #a9bed9;
}

.menubar li a:focus {
    outline: 2px solid  #a9bed9; 
}

/*Tan wrapper*/


.content {
    margin: 0;
    padding: 20px;
    background-color: #1d5948;
}

.wrapper {
    width: 100%;
    max-width: 1300px;
    margin: 30px auto;
    background-color: #f5e5cf; 
    padding-bottom: 20px;
}

/* Section Header */

.rectangle {
    display: inline-block;
    align-items: center;
    justify-self: center;
    align-self: center;
    width: 100%;
    background-color: #5b74a6;
    font-size: 20px;
}

.title-container {
    height: auto;
    margin: 20px;
    padding-top: 20px;
}

.title {
    background-color: white;
    border-style: solid;
    border-color: #5b74a6;
    border-width: 8px;
    min-height: 150px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.title h1 {
    color: #bf3b3b;
    font-size: 50px;
    margin-left: 2%;
}

.title h2 {
    color: #1d5948;
    font-size: 30px;
    margin-left: 2%;
    margin-right: 2%;
}




/* email santa */

.border {
    border: 20px solid #1d5948;
    border-image: repeating-linear-gradient(
        45deg,
        #1d5948,
        green 20px,
        white 20px,
        white 40px
        )
        20;
    max-width: 90%;
    margin: 0.5em auto;
    padding: 1em;
    background: white;
    height: 93%;
    }

    form input {
        color: #000;
        
    }
    
    input:focus,
    textarea:focus {
    outline: 3px solid #5b74a6;
    }
    
    input,
    textarea,
    button {
    width: 100%;
    border: 1px solid #000;
    }
    
    form label {
    display: block;
    color: #1d5948;
    font-size: 30px;
    }
    
    button,
    input,
    textarea {
    padding: 1em;
    }

    input {
        margin-bottom: 3%;
    }
    
    button {
    background: #5b74a6;
    color: white;
    font-family: 'EB Gramond';
    font-size: 20px;
    }
    
    button:hover {
    background:#bf3b3b;
    transition: 1s;
    }

    button:focus {
        outline: 3px solid  #1d5948; 
    }


/* list checker */

.border2 {
    max-width: 90%;
    margin: 0.5em auto;
    padding: 1em;
    background: white;
    height: 93%; 
    border: 20px solid #1d5948;
    border-image: repeating-linear-gradient(
        45deg,
        #bf3b3b,
        red 20px,
        white 20px,
        white 40px
        )
        20;
}

.border2
input,
textarea {
padding: 3em;
}

/* Santa's message*/

.note {
    padding: 1em;
}

.note img {
    width: 100%;
    height: auto;
}
    
/* Footer */


footer {
    background-color: #bf3b3b; 
}

footer h3 {
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

/* Bigger Screens */
@media screen and (min-width: 830px) {

/* navigation bar */

    .menubar {
        height: 80%;
        margin: 0;
        padding: 0;
    }

    .menubar li {
        float: left;
        width: 25%;
    }

    .menubar a {
        text-align: center;
        display: block;
        padding: 10px 0;
    }

        
    .rectangle {
        font-size: 25px;
    }

}